$header-height: 90px;

.oe-header {
  @include opaque-black-bg();
  position: absolute;
  top: 0; right: 0; left: 0;
  height: $header-height;
  border-bottom: 1px solid $main;
  box-shadow: 0 0 50px $grey15;
  z-index: 1000;

  .header-container {
    @include responsive-container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: none;

    .logo {
      width: 65px; height: auto;
    }

    .nav-container {
      display: flex;

      .nav-item {
        transition: border .3s;
        margin-left: 50px;
        padding: 6px 0;
        border-bottom: 1px solid transparent;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid $main;
        }
      }
    }
  }

  &.dynamic {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 0;
    overflow: hidden;
    z-index: 10;
    border-bottom: none;
    transition: height .3s;

    &.show {
      height: $header-height;
      border-bottom: 1px solid $main;
    }
  }
}

@media screen and (max-width: 1200px) {
  .oe-header {

  }
}

@media screen and (max-width: 600px) {
  .oe-header {

  }
}
