$header-height: 90px;

.oe-header {
  height: $header-height;
  background: rgba(8, 8, 8, .5);
  box-shadow: 0 0 50px $grey15;

  .header-container {
    @include responsive-container();
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      transition: letter-spacing 1s;
      letter-spacing: -12px;
      font-size: 26px;
      font-weight: 100;

      &.spread {
        letter-spacing: 0px;
      }
    }

    .nav-container {
      display: flex;

      .nav-item {
        margin-left: 50px;
        cursor: pointer;
      }
    }
  }

  &.dynamic {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 0;
    overflow: hidden;
    z-index: 10;
    transition: height .3s;

    &.show {
      height: $header-height;
    }
  }
}

@media screen and (max-width: 1200px) {
  .oe-header {

  }
}

@media screen and (max-width: 600px) {
  .oe-header {

  }
}
