.rwb-home {
  .rwb-welcome {
    width: 80vw;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    color: $dark-grey;
  }
}

@media screen and (max-width: 600px) {
  .rwb-home {
    .rwb-header { display: none; }

    .rwb-welcome {
      width: 100vw;
      min-width: 0;
      padding: 40px 25px;
    }

    .rwb-footer { display: none; }
  }
}
