.oe-home {
  .page-container {
    @include responsive-container();
    padding-top: 125px !important;
    padding-bottom: 150px !important;

    .placeholder {
      margin-bottom: 100px;
      height: 1000px;
      font-size: 40px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .oe-home {

  }
}

@media screen and (max-width: 600px) {
  .oe-home {

  }
}
