$grey18: #080808;
$grey17: #181818;
$grey16: #282828;
$grey15: #383838;
$grey14: #484848;
$grey13: #585858;
$grey12: #686868;
$grey11: #787878;
$grey10: #888888;
$grey9: #989898;
$grey8: #A8A8A8;
$grey7: #B0B0B0;
$grey6: #BEBEBE;
$grey5: #C8C8C8;
$grey4: #D3D3D3;
$grey3: #DCDCDC;
$grey2: #E8E8E8;
$grey1: #F5F5F5;

$main: #1F4582;
