html, body, div, span, a, p, ul, li, h1, code, nav, input, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-size: 14px;
  font-weight: 200;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

input, textarea {
  text-align: left;

  &:focus {
    outline: none;
  }
}

html, body { height: 100%; }

body {
  overflow-x: hidden;
  background: $grey17;
}
