html, body, div, span, a, p, ul, li, h1, code, nav {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-size: 12px;
  font-family: 'Oxygen', sans-serif;
}

html, body { height: 100%; }

body { overflow-x: hidden; }
