@mixin btn() {
  transition: all .3s;
  width: 160px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  color: $grey18;
  background-color: $grey3;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}

@mixin responsive-container() {
  width: 90vw; height: 100%;
  min-width: 800px;
  margin: auto;
  padding: 0 3vw;
  box-sizing: border-box;

  @media screen and (max-width: 800px) {
    padding: 0 40px;
  }
}

@mixin fade-on-scroll() {
  transition: all 1s;
  position: relative;
  top: 100px;
  opacity: 0;

  &.visible {
    top: 0;
    opacity: 1;
  }
}
